body {
  font-family: "Open Sans", sans-serif;
  background-color: #F3F4F6;
  height: 100vh;
}

header {
  height: 92px;
  display: flex;
  background-color: #461BFF;
  justify-content: center;
}
header .navbar {
  color: #F3F4F6;
  justify-content: space-between;
  width: 90%;
  display: flex;
  align-items: center;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 20%;
}
header .logo a {
  font-size: 25px;
  text-decoration: none;
  color: inherit;
}
header .menu {
  padding-top: 10px;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  font-size: 20px;
}
header .menu li {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .menu a {
  color: #F3F4F6;
  text-decoration: none;
  cursor: pointer;
}
header .menu ::after {
  margin-top: 5px;
  display: block;
  content: "";
  height: 3px;
  width: 0;
  background-color: #F3F4F6;
  transition: 0.3s ease-in-out;
}
header .menu a:hover:after {
  width: 100%;
}
header .menu .sub-menu {
  display: none;
  border-radius: 0 0 10px 10px;
  padding: 20px;
  font-size: 14px;
  position: absolute;
  margin-top: 225px;
  background-color: #FFFFFF;
  color: #707070;
}
header .menu .sub-menu li {
  padding: 5px;
  cursor: pointer;
}
header .icons {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  display: flex;
  height: 100%;
  margin-left: 10px;
}
header .icons li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 100%;
  transition: 60ms ease-in;
  cursor: pointer;
}
header .icons a {
  text-decoration: none;
  color: #F3F4F6;
}
header .icons li:hover {
  transform: scale(1.5);
}

main {
  display: flex;
  flex-direction: column;
}
main .form1 {
  display: none;
  position: absolute;
  right: 20.5%;
  top: 7%;
  padding: 0;
  margin: 0;
}
main .form1 input {
  border-radius: 5px 0 0 5px;
  content: "";
  padding-left: 15px;
  color: #2F2F2F;
  background-color: #FFFFFF;
  border: none;
  height: 43px;
  width: 270px;
}
main .form1 ::placeholder {
  text-decoration: none;
  appearance: none;
  color: #2F2F2F;
  font-size: 18px;
  font-weight: bold;
}
main .form1 button {
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  width: 42px;
  height: 45px;
  border: none;
  color: #FFFFFF;
  background-color: #01DA96;
}
main .banner {
  background-image: url("./assets/Banner.PNG");
  background-position: center left;
  background-repeat: no-repeat;
  height: 528px;
}
main .carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
main .owl-carousel {
  margin-top: -250px;
  width: 64%;
  height: 105%;
}
main .owl-nav {
  display: none;
}
main .card {
  cursor: grab;
  border-top-left-radius: 4%;
  border-top-right-radius: 4%;
  display: flex;
  flex-direction: column;
  border-radius: 4%;
  width: 369px;
  height: 420px;
  background-color: #F3F4F6;
  box-shadow: 2px 4px 15px 3px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 2px 4px 15px 3px rgba(0, 0, 0, 0.18);
}
main .card-content {
  padding-left: 29px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 60%;
}
main .card-content .card-date {
  margin-top: 32px;
  color: #2F2F2F;
  font-size: 14px;
}
main .card-content .card-title {
  font-weight: bold;
  font-size: 22px;
  margin-top: 13px;
  color: #01DA96;
}
main .card-content .card-description {
  font-size: 16px;
  margin-top: 34px;
  color: #707070;
}
main .card-img {
  border-bottom-left-radius: 4%;
  border-bottom-right-radius: 4%;
  background: url("./assets/Card-img.PNG");
  background-position: center center;
  background-repeat: no-repeat;
  height: 40%;
}
main .btn-card {
  cursor: pointer;
  margin-top: -190px;
  color: #01ADFF;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F3F4F6;
  height: 46px;
  width: 46px;
  border-radius: 50%;
  box-shadow: 2px 4px 15px 3px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 2px 4px 15px 3px rgba(0, 0, 0, 0.18);
}
main .btn-card-left {
  margin-right: 20px;
}

.grey-btn {
  margin-top: 20px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
}
.grey-btn button {
  cursor: pointer;
  color: #F3F4F6;
  background-color: #707070;
  font-size: 18px;
  font-weight: bold;
  height: 60px;
  width: 290px;
  border-radius: 50px;
  padding-left: 100px;
  padding-right: 100px;
  border: none;
}

.container {
  height: 1063px;
  background-color: #461BFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .audiovisual-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 62px;
  color: #F3F4F6;
  font-size: 40px;
}

.audiovisual {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  width: 100%;
  font-size: 18px;
  color: #F3F4F6;
}
.audiovisual .grey-btn {
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.audiovisual button {
  color: #F3F4F6;
  background-color: #707070;
  font-size: 18px;
  font-weight: bold;
  height: 60px;
  width: 290px;
  border-radius: 50px;
  padding-left: 100px;
  padding-right: 100px;
  border: none;
}
.audiovisual .audiovisual-menu {
  margin-top: 46px;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.audiovisual .audiovisual-menu label {
  cursor: pointer;
  margin-right: 82px;
}
.audiovisual .audiovisual-menu input {
  display: none;
}
.audiovisual .audiovisual-content {
  background-color: transparent;
  margin-top: 57px;
  display: grid;
  height: 610px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.audiovisual .audiovisual-content .item {
  background-color: transparent;
  cursor: pointer;
}
.audiovisual .audiovisual-content #video:hover {
  opacity: 0.5;
}

.newsletter {
  background-color: #F3F4F6;
  height: 378px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.newsletter .n-title {
  font-weight: bold;
  color: #01DA96;
  font-size: 40px;
  margin-top: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.newsletter .form {
  margin-top: 46px;
  display: flex;
}
.newsletter .form p {
  color: #707070;
  margin-left: 20px;
}
.newsletter .form input {
  color: #2F2F2F;
  font-size: 15px;
  padding-left: 20px;
  margin-top: 8px;
  border-radius: 27px;
  border: none;
  background-color: #FFFFFF;
  margin-right: 30px;
  width: 369.38px;
  height: 53px;
}
.newsletter .form button {
  cursor: pointer;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
  border-radius: 27px;
  margin-top: 25px;
  width: 217.38px;
  height: 53px;
  border: none;
  background-color: #01ADFF;
}

footer {
  font-family: "Open Sans", sans-serif;
  color: #FFFFFF;
  margin-top: 100px;
  height: 120px;
  background-color: #28235C;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
footer img {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
